simple/assets/female/cole/base/avoid.png
simple/assets/female/cole/base/bite.png
simple/assets/female/cole/base/dash.png
simple/assets/female/cole/base/dead.png
simple/assets/female/cole/base/hurt.png
simple/assets/female/cole/base/idle.png
simple/assets/female/cole/base/jump.png
simple/assets/female/cole/base/kick.png
simple/assets/female/cole/base/move.png
simple/assets/female/cole/base/scan.png
simple/assets/female/cole/egg/crack.png
simple/assets/female/cole/egg/hatch.png
simple/assets/female/cole/egg/move.png
simple/assets/female/cole/ghost/idle.png
simple/assets/female/cole/ghost/move.png
simple/assets/female/doux/base/avoid.png
simple/assets/female/doux/base/bite.png
simple/assets/female/doux/base/dash.png
simple/assets/female/doux/base/dead.png
simple/assets/female/doux/base/hurt.png
simple/assets/female/doux/base/idle.png
simple/assets/female/doux/base/jump.png
simple/assets/female/doux/base/kick.png
simple/assets/female/doux/base/move.png
simple/assets/female/doux/base/scan.png
simple/assets/female/doux/egg/crack.png
simple/assets/female/doux/egg/hatch.png
simple/assets/female/doux/egg/move.png
simple/assets/female/doux/ghost/idle.png
simple/assets/female/doux/ghost/move.png
simple/assets/female/kira/base/avoid.png
simple/assets/female/kira/base/bite.png
simple/assets/female/kira/base/dash.png
simple/assets/female/kira/base/dead.png
simple/assets/female/kira/base/hurt.png
simple/assets/female/kira/base/idle.png
simple/assets/female/kira/base/jump.png
simple/assets/female/kira/base/kick.png
simple/assets/female/kira/base/move.png
simple/assets/female/kira/base/scan.png
simple/assets/female/kira/egg/crack.png
simple/assets/female/kira/egg/hatch.png
simple/assets/female/kira/egg/move.png
simple/assets/female/kira/ghost/idle.png
simple/assets/female/kira/ghost/move.png
simple/assets/female/kuro/base/avoid.png
simple/assets/female/kuro/base/bite.png
simple/assets/female/kuro/base/dash.png
simple/assets/female/kuro/base/dead.png
simple/assets/female/kuro/base/hurt.png
simple/assets/female/kuro/base/idle.png
simple/assets/female/kuro/base/jump.png
simple/assets/female/kuro/base/kick.png
simple/assets/female/kuro/base/move.png
simple/assets/female/kuro/base/scan.png
simple/assets/female/kuro/egg/crack.png
simple/assets/female/kuro/egg/hatch.png
simple/assets/female/kuro/egg/move.png
simple/assets/female/kuro/ghost/idle.png
simple/assets/female/kuro/ghost/move.png
simple/assets/female/loki/base/avoid.png
simple/assets/female/loki/base/bite.png
simple/assets/female/loki/base/dash.png
simple/assets/female/loki/base/dead.png
simple/assets/female/loki/base/hurt.png
simple/assets/female/loki/base/idle.png
simple/assets/female/loki/base/jump.png
simple/assets/female/loki/base/kick.png
simple/assets/female/loki/base/move.png
simple/assets/female/loki/base/scan.png
simple/assets/female/loki/egg/crack.png
simple/assets/female/loki/egg/hatch.png
simple/assets/female/loki/egg/move.png
simple/assets/female/loki/ghost/idle.png
simple/assets/female/loki/ghost/move.png
simple/assets/female/mono/base/avoid.png
simple/assets/female/mono/base/bite.png
simple/assets/female/mono/base/dash.png
simple/assets/female/mono/base/dead.png
simple/assets/female/mono/base/hurt.png
simple/assets/female/mono/base/idle.png
simple/assets/female/mono/base/jump.png
simple/assets/female/mono/base/kick.png
simple/assets/female/mono/base/move.png
simple/assets/female/mono/base/scan.png
simple/assets/female/mono/egg/crack.png
simple/assets/female/mono/egg/hatch.png
simple/assets/female/mono/egg/move.png
simple/assets/female/mono/ghost/idle.png
simple/assets/female/mono/ghost/move.png
simple/assets/female/mort/base/avoid.png
simple/assets/female/mort/base/bite.png
simple/assets/female/mort/base/dash.png
simple/assets/female/mort/base/dead.png
simple/assets/female/mort/base/hurt.png
simple/assets/female/mort/base/idle.png
simple/assets/female/mort/base/jump.png
simple/assets/female/mort/base/kick.png
simple/assets/female/mort/base/move.png
simple/assets/female/mort/base/scan.png
simple/assets/female/mort/egg/crack.png
simple/assets/female/mort/egg/hatch.png
simple/assets/female/mort/egg/move.png
simple/assets/female/mort/ghost/idle.png
simple/assets/female/mort/ghost/move.png
simple/assets/female/nico/base/avoid.png
simple/assets/female/nico/base/bite.png
simple/assets/female/nico/base/dash.png
simple/assets/female/nico/base/dead.png
simple/assets/female/nico/base/hurt.png
simple/assets/female/nico/base/idle.png
simple/assets/female/nico/base/jump.png
simple/assets/female/nico/base/kick.png
simple/assets/female/nico/base/move.png
simple/assets/female/nico/base/scan.png
simple/assets/female/nico/egg/crack.png
simple/assets/female/nico/egg/hatch.png
simple/assets/female/nico/egg/move.png
simple/assets/female/nico/ghost/idle.png
simple/assets/female/nico/ghost/move.png
simple/assets/female/olaf/base/avoid.png
simple/assets/female/olaf/base/bite.png
simple/assets/female/olaf/base/dash.png
simple/assets/female/olaf/base/dead.png
simple/assets/female/olaf/base/hurt.png
simple/assets/female/olaf/base/idle.png
simple/assets/female/olaf/base/jump.png
simple/assets/female/olaf/base/kick.png
simple/assets/female/olaf/base/move.png
simple/assets/female/olaf/base/scan.png
simple/assets/female/olaf/egg/crack.png
simple/assets/female/olaf/egg/hatch.png
simple/assets/female/olaf/egg/move.png
simple/assets/female/olaf/ghost/idle.png
simple/assets/female/olaf/ghost/move.png
simple/assets/female/sena/base/avoid.png
simple/assets/female/sena/base/bite.png
simple/assets/female/sena/base/dash.png
simple/assets/female/sena/base/dead.png
simple/assets/female/sena/base/hurt.png
simple/assets/female/sena/base/idle.png
simple/assets/female/sena/base/jump.png
simple/assets/female/sena/base/kick.png
simple/assets/female/sena/base/move.png
simple/assets/female/sena/base/scan.png
simple/assets/female/sena/egg/crack.png
simple/assets/female/sena/egg/hatch.png
simple/assets/female/sena/egg/move.png
simple/assets/female/sena/ghost/idle.png
simple/assets/female/sena/ghost/move.png
simple/assets/female/tard/base/avoid.png
simple/assets/female/tard/base/bite.png
simple/assets/female/tard/base/dash.png
simple/assets/female/tard/base/dead.png
simple/assets/female/tard/base/hurt.png
simple/assets/female/tard/base/idle.png
simple/assets/female/tard/base/jump.png
simple/assets/female/tard/base/kick.png
simple/assets/female/tard/base/move.png
simple/assets/female/tard/base/scan.png
simple/assets/female/tard/egg/crack.png
simple/assets/female/tard/egg/hatch.png
simple/assets/female/tard/egg/move.png
simple/assets/female/tard/ghost/idle.png
simple/assets/female/tard/ghost/move.png
simple/assets/female/vita/base/avoid.png
simple/assets/female/vita/base/bite.png
simple/assets/female/vita/base/dash.png
simple/assets/female/vita/base/dead.png
simple/assets/female/vita/base/hurt.png
simple/assets/female/vita/base/idle.png
simple/assets/female/vita/base/jump.png
simple/assets/female/vita/base/kick.png
simple/assets/female/vita/base/move.png
simple/assets/female/vita/base/scan.png
simple/assets/female/vita/egg/crack.png
simple/assets/female/vita/egg/hatch.png
simple/assets/female/vita/egg/move.png
simple/assets/female/vita/ghost/idle.png
simple/assets/female/vita/ghost/move.png
simple/assets/male/cole/base/avoid.png
simple/assets/male/cole/base/bite.png
simple/assets/male/cole/base/dash.png
simple/assets/male/cole/base/dead.png
simple/assets/male/cole/base/hurt.png
simple/assets/male/cole/base/idle.png
simple/assets/male/cole/base/jump.png
simple/assets/male/cole/base/kick.png
simple/assets/male/cole/base/scan.png
simple/assets/male/cole/egg/crack.png
simple/assets/male/cole/egg/hatch.png
simple/assets/male/cole/egg/move.png
simple/assets/male/cole/ghost/idle.png
simple/assets/male/cole/ghost/move.png
simple/assets/male/doux/base/avoid.png
simple/assets/male/doux/base/bite.png
simple/assets/male/doux/base/dead.png
simple/assets/male/doux/base/jump.png
simple/assets/male/doux/base/scan.png
simple/assets/male/doux/egg/crack.png
simple/assets/male/doux/egg/hatch.png
simple/assets/male/doux/egg/move.png
simple/assets/male/doux/ghost/idle.png
simple/assets/male/doux/ghost/move.png
simple/assets/male/kira/base/avoid.png
simple/assets/male/kira/base/bite.png
simple/assets/male/kira/base/dash.png
simple/assets/male/kira/base/dead.png
simple/assets/male/kira/base/hurt.png
simple/assets/male/kira/base/idle.png
simple/assets/male/kira/base/jump.png
simple/assets/male/kira/base/kick.png
simple/assets/male/kira/base/move.png
simple/assets/male/kira/base/scan.png
simple/assets/male/kira/egg/crack.png
simple/assets/male/kira/egg/hatch.png
simple/assets/male/kira/egg/move.png
simple/assets/male/kira/ghost/idle.png
simple/assets/male/kira/ghost/move.png
simple/assets/male/kuro/base/avoid.png
simple/assets/male/kuro/base/bite.png
simple/assets/male/kuro/base/dash.png
simple/assets/male/kuro/base/dead.png
simple/assets/male/kuro/base/hurt.png
simple/assets/male/kuro/base/idle.png
simple/assets/male/kuro/base/jump.png
simple/assets/male/kuro/base/kick.png
simple/assets/male/kuro/base/move.png
simple/assets/male/kuro/base/scan.png
simple/assets/male/kuro/egg/crack.png
simple/assets/male/kuro/egg/hatch.png
simple/assets/male/kuro/egg/move.png
simple/assets/male/kuro/ghost/idle.png
simple/assets/male/kuro/ghost/move.png
simple/assets/male/loki/base/avoid.png
simple/assets/male/loki/base/bite.png
simple/assets/male/loki/base/dash.png
simple/assets/male/loki/base/dead.png
simple/assets/male/loki/base/hurt.png
simple/assets/male/loki/base/idle.png
simple/assets/male/loki/base/jump.png
simple/assets/male/loki/base/kick.png
simple/assets/male/loki/base/move.png
simple/assets/male/loki/base/scan.png
simple/assets/male/loki/egg/crack.png
simple/assets/male/loki/egg/hatch.png
simple/assets/male/loki/egg/move.png
simple/assets/male/loki/ghost/idle.png
simple/assets/male/loki/ghost/move.png
simple/assets/male/mono/base/avoid.png
simple/assets/male/mono/base/bite.png
simple/assets/male/mono/base/dash.png
simple/assets/male/mono/base/dead.png
simple/assets/male/mono/base/hurt.png
simple/assets/male/mono/base/idle.png
simple/assets/male/mono/base/jump.png
simple/assets/male/mono/base/kick.png
simple/assets/male/mono/base/move.png
simple/assets/male/mono/base/scan.png
simple/assets/male/mono/egg/crack.png
simple/assets/male/mono/egg/hatch.png
simple/assets/male/mono/egg/move.png
simple/assets/male/mono/ghost/idle.png
simple/assets/male/mono/ghost/move.png
simple/assets/male/mort/base/avoid.png
simple/assets/male/mort/base/bite.png
simple/assets/male/mort/base/dead.png
simple/assets/male/mort/base/jump.png
simple/assets/male/mort/base/scan.png
simple/assets/male/mort/egg/crack.png
simple/assets/male/mort/egg/hatch.png
simple/assets/male/mort/egg/move.png
simple/assets/male/mort/ghost/idle.png
simple/assets/male/mort/ghost/move.png
simple/assets/male/nico/base/avoid.png
simple/assets/male/nico/base/bite.png
simple/assets/male/nico/base/dash.png
simple/assets/male/nico/base/dead.png
simple/assets/male/nico/base/hurt.png
simple/assets/male/nico/base/idle.png
simple/assets/male/nico/base/jump.png
simple/assets/male/nico/base/kick.png
simple/assets/male/nico/base/move.png
simple/assets/male/nico/base/scan.png
simple/assets/male/nico/egg/crack.png
simple/assets/male/nico/egg/hatch.png
simple/assets/male/nico/egg/move.png
simple/assets/male/nico/ghost/idle.png
simple/assets/male/nico/ghost/move.png
simple/assets/male/olaf/base/avoid.png
simple/assets/male/olaf/base/bite.png
simple/assets/male/olaf/base/dash.png
simple/assets/male/olaf/base/dead.png
simple/assets/male/olaf/base/hurt.png
simple/assets/male/olaf/base/idle.png
simple/assets/male/olaf/base/jump.png
simple/assets/male/olaf/base/kick.png
simple/assets/male/olaf/base/move.png
simple/assets/male/olaf/base/scan.png
simple/assets/male/olaf/egg/crack.png
simple/assets/male/olaf/egg/hatch.png
simple/assets/male/olaf/egg/move.png
simple/assets/male/olaf/ghost/idle.png
simple/assets/male/olaf/ghost/move.png
simple/assets/male/sena/base/avoid.png
simple/assets/male/sena/base/bite.png
simple/assets/male/sena/base/dash.png
simple/assets/male/sena/base/dead.png
simple/assets/male/sena/base/hurt.png
simple/assets/male/sena/base/idle.png
simple/assets/male/sena/base/jump.png
simple/assets/male/sena/base/kick.png
simple/assets/male/sena/base/move.png
simple/assets/male/sena/base/scan.png
simple/assets/male/sena/egg/crack.png
simple/assets/male/sena/egg/hatch.png
simple/assets/male/sena/egg/move.png
simple/assets/male/sena/ghost/idle.png
simple/assets/male/sena/ghost/move.png
simple/assets/male/tard/base/avoid.png
simple/assets/male/tard/base/bite.png
simple/assets/male/tard/base/dead.png
simple/assets/male/tard/base/jump.png
simple/assets/male/tard/base/scan.png
simple/assets/male/tard/egg/crack.png
simple/assets/male/tard/egg/hatch.png
simple/assets/male/tard/egg/move.png
simple/assets/male/tard/ghost/idle.png
simple/assets/male/tard/ghost/move.png
simple/assets/male/vita/base/avoid.png
simple/assets/male/vita/base/bite.png
simple/assets/male/vita/base/dead.png
simple/assets/male/vita/base/jump.png
simple/assets/male/vita/base/scan.png
simple/assets/male/vita/egg/crack.png
simple/assets/male/vita/egg/hatch.png
simple/assets/male/vita/egg/move.png
simple/assets/male/vita/ghost/idle.png
simple/assets/male/vita/ghost/move.png
